#table{
    color: blue;
    width: 100%;
}
#table2 {
    width: 100%;
    border-collapse: collapse;
}
th {
    background-color: orange;
    color: black;
    padding: 10px;
}
#head{
    background-color: yellow;
    padding: 10px;
}
#span{
    background-color: white;
}
#caption{
    font-size: 40px;
}